.diiv-1{
	background-color:white;
	/* height:100px; */
	width:100%;
}

.diiv-2{
	background-color:white;
	width:50%;
	height:850px;
	float:right;	
	padding-top: 50px;
}

.diiv-3{
		background-color:white;
		width:50%;
		height:850px;
		float: left;
		padding-top: 50px;
}

.titulo1{
	padding-top:  40px;
	color: green;
	font-size: 55px;
	font-weight: lighter;
	width:350px;
	border-bottom: 1px solid;
}
form{
	background-color:white;
	width: 70%;
	height: 1000px;	
	
	/*  pone la margen al formulario  */
	 margin-right: auto; 
	margin-left: auto; 
}
form input{
	/*background-color:  #ede6e6;
	border-color: #ccbcbc;*/
	background-color:  white;
	border-color: #ccbcbc;
	border-radius: 5px;
	font-size: 20px;
	width: 400px;
	height: 30px;
	border-style: solid;

}
form p{
	padding-top: 11px;
	font-size: 20px;
	margin-bottom: 10px;
}
form select{
	background-color:  white;
	border-color: #ccbcbc;
	border-radius: 5px;
	font-size: 20px;
	width: 400px;
}

.form-column-boton1{
	/*background-color: blue;*/
	
	padding-top: 0px;
	width: 20%;
	float:left;
	display: inline-block;
	height: 100px;
}
.form-column-boton2{
	/*background-color: blue;*/
	padding-top: 0px;
	width: 20%;
	float:left;
	display: inline-block;
	height: 100px;
}
.btn1{
	border-radius: 10px;
	background-color: #4C8F1C;
	padding: 14px;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	color: white;
	border-color: white;
	margin-top: 20px;
}
.btn1:hover{
	/*background-color: #D1D1D1;*/
	font-size: 28px;
	padding: 12.5px;

}
.btn2{
	border-radius: 10px;
	background-color: #c92222;
	padding: 14px;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	color: white;
	border-color: white;
	margin-top: 20px;
}

.btn2:hover{
	/*background-color: #D1D1D1;*/
	font-size: 28px;
	padding: 12.5px;

}

.cancelar{
	text-decoration: none;
	color: white;
}

.alerta{
	color: red;
}

