body{
	font-family: sans-serif;
	font-weight: lighter;
}


.titulo1{
	padding-top:  40px;
	color: green;
	font-size: 55px;
	font-weight: lighter;

	width: 425px;
	border-bottom: 1px solid;
	margin-left: 70px;
}

.form-column-boton1{
	/*background-color: blue;*/
	margin-top: 10px;
	width: 22%;
	float: left;
	display: inline-block;
	height: 100px;
	margin-left: 70px;
}
.form-column-boton2{
	/*background-color: blue;*/
	margin-top: 10px;
	width: 20%;
	float: left;
	display: inline-block;
	height: 100px;
}
.btn1{
	border-radius: 10px;
	background-color: #4C8F1C;
	padding: 14px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	color: white;
	border-color: white;
	margin-top: 20px;
}

.btn1:hover{
	/*background-color: #D1D1D1;*/
	font-size: 28px;
	padding: 12.5px;

}

.btn2{
	border-radius: 10px;
	background-color: #c92222;
	padding: 14px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	color: white;
	border-color: white;
	margin-top: 20px;
}

.btn2:hover{
	/*background-color: #D1D1D1;*/
	font-size: 28px;
	padding: 12.5px;

}
a{
	text-decoration: none;
	color: white;
}
.link2{
	color: #4C8F1C;
}

table {
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	font-family: sans-serif;
}

/*#main-container{
	margin: 100 px auto
	width: 200 px;
}*/


thead{
	background-color: #4C8F1C;
	/*border-bottom:solid 2px gray;*/
	color: white;
	font-weight: lighter;

}

tr:nth-child(even){
	background-color: #ddd;

}

thead:hover{
	/*background-color: red;*/
}

tbody tr:hover{
	background-color: #a7dea0;
}
th, td{
	padding: 15px;
	}

/*.th1{
	width: 50px;
}*/
	
