.titulo1{
	padding-top:  68px;
	color: green;
	font-size: 55px;
	font-weight: lighter;

	width: 400px;
	border-bottom: 1px solid;
}
form{
	width: 70%;
	height: 500px;
	
	display: block;
	margin-right: auto;
	margin-left: auto;
}
form p{
	padding-top: 11px;
	font-size: 20px;
	margin-bottom: 10px;
}
form input{
	/*background-color:  #ede6e6;
	border-color: #ccbcbc;*/
	background-color:  white;
	border-color: #ccbcbc;
	border-radius: 5px;
	font-size: 20px;
	width: 400px;
	height: 30px;
	border-style: solid;

}
.form-column-boton1{
	/*background-color: blue;*/
	padding-top: 50px;
	width: 20%;
	float: left;
	display: inline-block;
	height: 100px;
}
.form-column-boton2{
	/*background-color: blue;*/
	padding-top: 50px;
	width: 20%;
	float: left;
	display: inline-block;
	height: 100px;
}
.btn1{
	border-radius: 10px;
	background-color: #4C8F1C;
	padding: 14px;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	color: white;
	border-color: white;
	margin-top: 20px;
}

.btn1:hover{
	/*background-color: #D1D1D1;*/
	font-size: 28px;
	padding: 12.5px;

}

.btn2{
	border-radius: 10px;
	background-color: #c92222;
	padding: 14px;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	color: white;
	border-color: white;
	margin-top: 20px;
}

.btn2:hover{
	/*background-color: #D1D1D1;*/
	font-size: 28px;
	padding: 12.5px;

}
a{
	text-decoration: none;
	color: white;
}