.contenedor5{
	width: 100%;
	padding-top:  10px;
	height: 800px;
	/*background-color: red;*/
	
	position: relative;
	/*posicion relativa para que el div que esta en posicion 
	absoluta quede encima de este*/
	display: flex;
	align-items: center;

}


/*imagen del jardin*/
.fondo1 {
	
	
	/*margin-top: 0px;*/
	/*margin-left: 0px;
	margin-right: 20px;
	*/

	/*align-self: center;
	width: 500px;*/
	filter:brightness(0.6);
	/*height: 1021px;*/
	width: 1510px;
	/*margin-right:  200px;*/
	margin-top: 55px;
}

.contenedor_titulo_1{
	/*background-color: blue;*/
	height: 600px;
	width: 100%;

	text-align: center;

	position: absolute;
	
	top: 20px;

	
}

/*con este codigo bloque los scroll*/
::-webkit-scrollbar {
    display: none;
}

.titulo_1{
	color: #F1F1F1  ;

	font-size: 4.0rem;
}

.titulo_2{
	color: #F1F1F1 ;
	font-size: 2.5rem;
	margin-top: -40px;
}

.boton1{
	border-radius: 10px;
	background-color: #4C8F1C;
	padding: 14px;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	color: white;
	border-color: #4C8F1C;
	margin-top: 20px;
}

.boton1{
	border-radius: 10px;
	background-color: #4C8F1C;
	padding: 14px;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	color: white;
	border-color: #4C8F1C;
	margin-top: 20px;
}

.boton2{
	
	
	border-radius: 10px;
	background-color: #4C8F1C;
	padding: 14px;
	width: 220px;
	
	margin-right: auto;
	font-size: 25px;
	color: white;
	border-color: #4C8F1C;
	
	

	margin-top: 120px;
	margin-left: 100px;
}
