body{

}

.diiv1{
	/*background-color: red;*/
	width: 60%;
	height: 500px;
	float: left;
}



/*objetos diiv 1*/

.diiv2{
	/*background-color: blue;*/
	width: 40%;
	height: 500px;
	float: right;
}

.titulo-1{
	color: white;
	font-size: 40px;
	font-weight: lighter;

	border-bottom: 1px  solid;
}


form{

	/*padding-top: 50px;*/
	margin-top: 100px;
	/*margin: 0 auto;*/
	width: 260px;
	background-color: #4C8F1C;

	/*letra delgada*/
	font-family:   sans-serif;
	padding: 20px;
	color: #999;

	border-radius: 20px;
	/*box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, 0.9);*/


	display: block;
	margin-right: auto;
    margin-left: auto;
}



input{

	border: none;
	background: none;
	color: white;
	border-bottom: 1px solid;
	border-color: white;
	outline: none;
	display: block;
	width: 225px;
	padding: 10px;
	font-size: 20px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
  font-size: 20px;
}

.input1{
	margin-top:  50px;
	/*font-style: italic;*/
}

.btn1{
	border-radius: 10px;
	display: block;
	padding: 14px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	color: #4C8F1C;
	border-color: white;
	margin-top: 20px;
}

.btn1:hover{
	/*background-color: #D1D1D1;*/
	font-size: 28px;
	padding: 12.5px;

}

a{
	display: block;
	text-align: center;
	text-decoration: none;
	color: white;
}

.a1{
	margin-top: 30px;
	font-size: 18px;
}
.a2{
	margin-top: 20px;
	font-size: 18px;
}
a:hover{

	/*font-size: 20px;
	marker-end: 0px;*/
	color: #19C84C;
}

.jardinimg{
	width: 750px;
	align-content: center;
	margin-top: 70px;
	margin-left: 100px;
	border-radius: 20px;
}

