
.parrafo_mision{
	font-size: 30px;
	/*padding-left:   70px;
	padding-right:  70px;*/
	font-family:   sans-serif;
	/*font-family: Open-Sans;*/
	/*font-family: Helvetica;*/
	color: black ;
	/*color: white;*/
	margin-right: 40px ;
	margin-left: 40px;
	text-align: center;
}


body{

}

.diiv1{
	/*background-color: red;*/
	width: 40%;
	height: 500px;
	float: left;
}



/*objetos diiv 1*/

.diiv2{
	/*background-color: blue;*/
	width: 60%;
	height: 700px;
	float: right;
	text-align: center;
}

.titulo1{
	margin-top: 60px;
	font-size: 60px;
	padding-top: 80px;
	color: #4C8F1C;
}

form{

	/*padding-top: 50px;*/
	margin-top: 100px;
	/*margin: 0 auto;*/
	width: 260px;
	background-color: #4C8F1C;

	/*letra delgada*/
	font-family:   sans-serif;
	padding: 20px;
	color: #999;

	border-radius: 20px;
	/*box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, 0.9);*/


	display: block;
	margin-right: auto;
    margin-left: auto;
}



input{

	border: none;
	background: none;
	color: white;
	border-bottom: 1px solid;
	border-color: white;
	outline: none;
	display: block;
	width: 225px;
	padding: 10px;
	font-size: 20px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
  font-size: 20px;
}

.input1{
	margin-top:  50px;
	/*font-style: italic;*/
}

.btn1{
	border-radius: 10px;
	display: block;
	padding: 14px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	color: #4C8F1C;
	border-color: white;
	margin-top: 20px;
}

.btn1:hover{
	/*background-color: #D1D1D1;*/
	font-size: 28px;
	padding: 12.5px;

}

a{
	display: block;
	text-align: center;
	text-decoration: none;
	color: white;
}

.a1{
	margin-top: 30px;
	font-size: 18px;
}
.a2{
	margin-top: 20px;
	font-size: 18px;
}
a:hover{

	/*font-size: 20px;
	marker-end: 0px;*/
	color: #19C84C;
}

.jardinimg{
	width: 550px;
	align-content: center;
	margin-top: 50px;
	margin-left: 50px;
	border-radius: 20px;
}
















/*responsive*/
@media screen and (max-width:800px){
	
	.diiv-1{
		width: 100%;
		height: 150px;
		background-color: white;
		text-align: center;
	}

	.titulo1{
		
		margin-top: 0px;
		font-size: 45px;
		padding-top: 70px;
		color: green;
	}

	.diiv-2{
		background-color: green;
		/*background-color: #00AD17;*/
		/*background-color: #00610D;*/
		height: 950px;
		width: 100%;
		
		/*text-align: center;*/
	}
	.diiv-3{
		background-color: green;
		height: 550px;
		width: 100%;
		
	}
	.diiv-4{
		/*background-color: #F6F6F6 ;*/
		background-color: white  ;
		height: 550px;
		width: 100%;
		
		text-align: center;
	}
	.diiv-5{
		/*background-color: red;*/
		/*background-color: #F6F6F6  ;*/
		/*background-color: green  ;*/
		height: 700px;
		width: 100%;
		
		
		
	}
	.nuestraubicacion_titulo5{
		font-size: 17px;
		
		color: green;
		padding-top: 0px;

		}

	.mapa{
		padding-top: 50px;
		padding-left:   0px;
		
		width: 350px;
		height: 600px;
		  
		/*centrar ifrma o mapa*/  
		display: block;/*sin este display no centra*/
    	margin-right: auto;
    	margin-left: auto;

	}	
	.nuestraubicacion_titulo{
		font-size: 50px;
		padding-left:   40px;
		padding-right: 40px;
		color: green;
		padding-top: 25px;

	}
	.nuestraubicacion_titulo3{
		font-size: 50px;
		padding-left:   0px;
		padding-right: 0px;
		color: green;
		padding-top: 0px;

	}
}