


.diiv-1{
	width: 100%;
	height: 200px;
	background-color: white;
	text-align: center;
}

.titulo1{
	margin-top: -20px;
	font-size: 90px;
	padding-top: 80px;
	color: #4C8F1C;
}

.diiv-2{
	background-color: #4C8F1C;
	/*background-color: #00AD17;*/
	/*background-color: #00610D;*/
	height: 600px;
	width: 60%;
	float: left;
	/*text-align: center;*/
}
.diiv-3{
	background-color: #4C8F1C;
	height: 600px;
	width: 40%;
	float: right;
}
.titulo_mision{
	padding-left: 40px;
	color: #F1F1F1;
	font-family:   sans-serif;
}
.titulo_objetivos{
	padding-left:   40px;
	color: #F1F1F1;
}
.parrafo_mision{
	font-size: 20px;
	padding-left:   40px;
	padding-right: 40px;
	font-family:   sans-serif;
	/*font-family: Open-Sans;*/
	/*font-family: Helvetica;*/
	color: #F1F1F1 ;
	/*color: white;*/
}
.diiv-4{
	/*background-color: #F6F6F6 ;*/
	background-color: white  ;
	height: 800px;
	width: 40%;
	float: left;
	text-align: center;
}
.diiv-5{
	/*background-color: red;*/
	/*background-color: #F6F6F6  ;*/
	background-color: white  ;
	height: 800px;
	width: 60%;
	float: left;
	
}
.nuestraubicacion_titulo{
	font-size: 50px;
	padding-left:   40px;
	padding-right: 40px;
	color: #4C8F1C;
	padding-top: 100px;

}
.nuestraubicacion_titulo2{
	font-size: 45px;
	padding-left:   40px;
	padding-right: 40px;
	color: #4C8F1C;
	padding-top: 0px;

}
.nuestraubicacion_titulo3{
	font-size: 50px;
	padding-left:   40px;
	padding-right: 40px;
	color: #4C8F1C;
	padding-top: 50px;

}
.nuestraubicacion_titulo4{
	font-size: 50px;
	padding-left:   40px;
	padding-right: 40px;
	color: #4C8F1C;
	padding-top: 0px;

}
.nuestraubicacion_titulo5{
	font-size: 30px;
	padding-left:   40px;
	padding-right: 40px;
	color: #4C8F1C;
	padding-top: 0px;

}
.mapa{
	padding-top: 100px;
	padding-left:   20px;

	width: 800px;
	height: 600px;

}


/*responsive*/
@media screen and (max-width:800px){
	
	.diiv-1{
		width: 100%;
		height: 150px;
		background-color: white;
		text-align: center;
	}

	.titulo1{
		
		margin-top: 0px;
		font-size: 45px;
		padding-top: 70px;
		color: green;
	}

	.diiv-2{
		background-color: green;
		/*background-color: #00AD17;*/
		/*background-color: #00610D;*/
		height: 950px;
		width: 100%;
		
		/*text-align: center;*/
	}
	.diiv-3{
		background-color: green;
		height: 550px;
		width: 100%;
		
	}
	.diiv-4{
		/*background-color: #F6F6F6 ;*/
		background-color: white  ;
		height: 550px;
		width: 100%;
		
		text-align: center;
	}
	.diiv-5{
		/*background-color: red;*/
		/*background-color: #F6F6F6  ;*/
		/*background-color: green  ;*/
		height: 700px;
		width: 100%;
		
		
		
	}
	.nuestraubicacion_titulo5{
		font-size: 17px;
		
		color: green;
		padding-top: 0px;

		}

	.mapa{
		padding-top: 50px;
		padding-left:   0px;
		
		width: 350px;
		height: 600px;
		  
		/*centrar ifrma o mapa*/  
		display: block;/*sin este display no centra*/
    	margin-right: auto;
    	margin-left: auto;

	}	
	.nuestraubicacion_titulo{
		font-size: 50px;
		padding-left:   40px;
		padding-right: 40px;
		color: green;
		padding-top: 25px;

	}
	.nuestraubicacion_titulo3{
		font-size: 50px;
		padding-left:   0px;
		padding-right: 0px;
		color: green;
		padding-top: 0px;

	}
}