

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

main{
	width: 100%;
	height: auto;
	background-color: #34495E;
	position: absolute;
}

/*.content-all{
	width: 100%;
	max-width: 1000px;
	background-color: green;
	margin: auto;
	
	
}*/

header{
	width: 100%;
	height: 60px;
	position: fixed;
	background: black;
	left: 0;
	top: 0;
}

#check{
	display: none;
}
#check:checked ~ .menu{
	/*con display unset; desaparece todo el menu es otra opcion*/
	/*display: unset;
	transition-property: all 300ms;*/

	width: 400px;
}
.icon-menu{
	margin-left: 20px;
	color: white;
}
.menu{
	/*display: none;*/
	position: fixed;
	top: 60px;
	width: 0px;
	height: 100vh;
	background-color: black;
	color: white;
	transition: all 300ms;
	margin-left: 0px;
	/*con este overflow desaparecen las letras*/
	overflow: hidden;
}
.menu li{
	list-style: none;
	padding: 16px;
	cursor: pointer;
	transition: all 100ms;
	margin-left: 10px;
	/*con esto al hacer la animacion la letra no se baja*/
	display: block;
	width: 400px;
}
.menu li:hover{
	background: rgba(100,250,100,0.4);
}




.content-all label {
	position: fixed;
	width: 100%;
	max-width: 1000px;
	top: 14px;
	font-size: 26px;

	cursor: pointer;
	
	z-index: 10;
	/*con este index se pone encima la letra menu de la magtimus
	en cuanto a las capas no a la altura

	la letra magtimus esta arriba porque la subimos pero con este
	codigo le decimos que ese codigo este encima*/
}
.content-all h2 {
	position: fixed;
	width: 100%;
	max-width: 1000px;
	top: 14px;
	font-size: 26px;
	text-align: right;

}



h1{
	/*color: red;*/
}
h2{
	color: white;
}
.logo{
	margin: auto;
	margin-left: 1020px;

}
.div-espacio{
	height: 60px;
}
a{
	text-decoration: none;
}
li a {
	color: white;
}
/*a:hover{
	text-decoration: none;
	text-decoration-style: none;
}*/