

.nav-div-1 {
	background-color: black;
	width: 20%;
	float:left;
	/*height: 63px;*/
	height: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: center;
	align-items: center;
}



.parrafo1 {
	color: white;
	font-size: 15px;
	font-style: italic;
	margin-top: 15px;
	/*padding-top: 80px;*/
	margin-left: 100px;
}



.nav-div {
	width: 100%;
	float:left;
}


.boton{
	width: 60px; 	
	/*padding-top: 25px;*/
	margin: 0px;
	margin-top: -10px;
	/*padding-top:  -50px;*/
	margin-bottom: -10px;
	
	/*position: absolute;*/

	margin-left: -10px;
	
}


.logo2{
	width: 60px;
	
	margin: 0px;
	margin-top: -10px;
	display: none;
	margin-bottom: -10px;
}



body {
	margin: 0;
	/*esto le quita el margen*/

	font-family: sans-serif;
}

header {
	width: 100%;
	background-color: black;
	height: 50px;
}


/*con esto desaparesco el botonsito shuleador*/
#btn-menu {
	display: none;
}
#btn-menu2 {
	display: none;
}

header label {
	display: none;
	/*este display none es por que esto lo queremos en dispositivos moviles*/
	width: 25px;
	padding: 5px;
	padding-top: 8px;
	border-right:  1px solid black;
	}

header label:hover {
	cursor: pointer;
	/*para que aparesca la manito*/
	background-color: white;
}

.menu ul {
	margin: 0px;
	list-style:  none;
	padding: 0;
	display: flex;
	/*este flex hace que los li sean cajas flexibles y los coloque en una fila*/

	justify-content: flex-end;*/
	/*esta linea nos sirve para poner los menus al lado izquierdo*/
	height: 100px;
	/*justify-content: center;*/
	/*esta linea nos sirve para poner los menus en el centro*/
}


/*.menu li{
	text-align: center;
	flex-grow: 1;
}*/
/*con este logramos otro efecto interesabte distinto*/

header a   {
	color: #fff;
	text-decoration: none;
}

.menu  li   {
	display: block;
	padding: 15px 20px;
	/*border-right: 1px solid white;*/
	/*el borde de los menus*/

	font-size: 20px;
}

.menu  li:hover  {
	/*background: rgba(255,255,255,0.4);*/
	background: rgba(100,250,100,0.4);
}




@media(max-width: 768px){
	header label{
		/*display: block;*/
		display: inline-block;
		
		height: 35px;
		background-color: black;

	}
	
	header label:hover {
	cursor: pointer;
	/*para que aparesca la manito*/
	background-color: black;
	}

	.menu {
		position: absolute;
		/*background-color: blue;*/
		background-color: black;
		width: 40%;
		margin-left: -70%; 
		/*este lo que hace es corrernos el menu en negativo y por eso no lo vemos*/
		transition: all 0.5s;
	}

	.nav-div-1{
		margin-left: -70%;
		margin-top: -500px;
	}
	
	
	/*.label2{
		color: blue;
	}*/


	.menu ul{
		flex-direction:  column ;
		/*column-width: -70px;*/
	}
	

	.boton{
		
		width: 50px ;
		
	}
	.logo2{
		/*height: 50px;*/
		padding-left: 100px;
		width: 50px ;
		
		
		display: inline;
	}

	.menu li{
		border-top: 0px solid white;
	}

	#btn-menu:checked ~ .menu {
		margin:  0;

	}

	
	/*ella rayita rara se hace con el atajo alt 126*/
	

}
/*cuando su ancho maximo este entre 768 pixeles hacer lo siguiente*/