


.diiv-1{
	/*background-color: blue;
	height: 600px;
	width: 100%;*/
}

form{
	/*background-color: blue;*/
	width: 90%;
	height: 500px;
	
	display: block;
	margin-right: auto;
	margin-left: auto;


	
}

.form-column1 p{
	padding-top: 20px;
	font-size: 20px;
}
.form-column2 p{
	padding-top: 20px;
	font-size: 20px;
}
.form-column1 label{
	font-size: 15px;
	color: red;
}
.form-column2 label{
	font-size: 15px;
	color: red;
}
.form-column1 input{
	/*background-color:  #ede6e6;
	border-color: #ccbcbc;*/
	background-color:  white;
	border-color: #ccbcbc;
	border-radius: 5px;
	font-size: 20px;
	width: 400px;
	height: 30px;
	border-style: solid;

}
.form-column2 input{
	/*background-color:  #ede6e6;
	border-color: #ccbcbc;*/
	background-color:  white;
	border-color: #ccbcbc;
	border-radius: 5px;
	font-size: 20px;
	width: 400px;
	height: 30px;
	border-style: solid;

}
.form-column1 select{
	background-color:  white;
	border-color: #ccbcbc;
	border-radius: 5px;
	font-size: 20px;
	width: 400px;
}
.form-column2 select{
	background-color:  white;
	border-color: #ccbcbc;
	border-radius: 5px;
	font-size: 20px;
	width: 400px;
}

.form-1 {
	/*display: grid;
	grid-template-columns: 1fr 1fr;*/
}

.titulo-1{
	padding-top:  20px;
	color: green;
	font-size: 55px;
	font-weight: lighter;

	width: 420px;
	border-bottom: 1px solid;
}

.form-column1{
	/*background-color: blue;*/
	margin-top: 20px;
	display: inline-block;
	vertical-align: top;
	width: 50%;
	float: left;
	height: 440px;
}
.form-column2{
	/*background-color: blue;*/
	margin-top: 20px;
	display: inline-block;
	vertical-align: top;
	width: 50%;
	float: left;
	height: 440px;
}

.form-column-boton1{
	/*background-color: blue;*/
	width: 15%;
	float: left;
	display: inline-block;
	height: 100px;
}
.form-column-boton2{
	/*background-color: red;*/
	width: 30%;
	float: left;
	display: inline-block;
	height: 100px;
}
.form-column-boton3{
	/*background-color: green;*/
	width: 35%;
	float: left;
	display: inline-block;
	height: 100px;
	/*margin-right: 300px;
*/	/*padding-left: 300px;*/
}

.btn1{
	border-radius: 10px;
	background-color: #4C8F1C;
	padding: 14px;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	color: white;
	border-color: white;
	margin-top: 20px;
}

.btn1:hover{
	/*background-color: #D1D1D1;*/
	font-size: 28px;
	padding: 12.5px;

}

.btn2{
	border-radius: 10px;
	background-color: #4C8F1C;
	padding: 14px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	color: white;
	border-color: white;
	margin-top: 20px;
}

.btn2:hover{
	/*background-color: #D1D1D1;*/
	font-size: 28px;
	padding: 12.5px;

}
.btn3{
	border-radius: 10px;
	background-color: #c92222;
	padding: 14px;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	color: white;
	border-color: white;
	margin-top: 20px;
}

.btn3:hover{
	/*background-color: #D1D1D1;*/
	font-size: 28px;
	padding: 12.5px;

}

.btn4{
	border-color: none;
	background-color: transparent;
	outline:none;
	border-style: none;
	/*background-color: rgb(0,0,0);*/
}

a{
	text-decoration: none;
	color: white;
}

/*td{
	width: 15px;
}*/
table {
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-family: sans-serif;
}

/*#main-container{
	margin: 100 px auto
	width: 200 px;
}*/

th, td{
	padding: 15px;
}

thead{
	background-color: #4C8F1C;
	/*border-bottom:solid 2px gray;*/
	color: white;
	font-weight: lighter;

}

tr:nth-child(even){
	background-color: #ddd;

}

tbody tr:hover{
	background-color: #a7dea0;
}
.inputtable1{
	width: 100px;
}
.inputtable2{
	width: 50px;
}
.inputtable3{
	width: 100px;
}
