.titulo1{
	padding-top:  43px;
	color: green;
	font-size: 55px;
	font-weight: lighter;

	width: 600px;
	border-bottom: 1px solid;
	margin-left: 70px;
}
.form-column-boton1{
	/*background-color: blue;*/
	margin-top: 10px;
	width: 22%;
	float: left;
	display: inline-block;
	height: 100px;
	margin-left: 70px;
}
.form-column-boton2{
	/*background-color: blue;*/
	margin-top: 10px;
	width: 20%;
	float: left;
	display: inline-block;
	height: 100px;
}
.btn1{
	border-radius: 10px;
	background-color: #4C8F1C;
	padding: 14px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	color: white;
	border-color: white;
	margin-top: 20px;
}

.btn1:hover{
	/*background-color: #D1D1D1;*/
	font-size: 28px;
	padding: 12.5px;

}

.btn2{
	border-radius: 10px;
	background-color: #c92222;
	padding: 14px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	color: white;
	border-color: white;
	margin-top: 20px;
}

.btn2:hover{
	/*background-color: #D1D1D1;*/
	font-size: 28px;
	padding: 12.5px;

}
a{
	text-decoration: none;
	color: white;
}
.link2{
	color: #4C8F1C;
}
table {
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	font-family: sans-serif;
}

/*#main-container{
	margin: 100 px auto
	width: 200 px;
}*/



thead{
	background-color: #4C8F1C;
	/*border-bottom:solid 2px gray;*/
	color: white;
	font-weight: lighter;

}

tr:nth-child(even){
	background-color: #ddd;

}

thead:hover{
	/*background-color: red;*/
}

tbody tr:hover{
	background-color: #a7dea0;
}
th, td{
	padding: 15px;
	}

/*.th1{
	width: 50px;
}*/


/*modal*/
.modal{
	position: fixed;
	
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.5);

	/*poner scrol al modal*/
	overflow:scroll;
	/*con este codigo el modal no se muestra asta que demos clic si lo quitamos 
	aparece con tan solo recargar la pagina*/
	display: none;
}
.bodymodal{
	/*position: relative;*/
	width: 100%;
	height: 100vh;
	/*display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;*/
	/*display: inline-flex;*/
 	/*overflow:all;*/
	/*justify-content: center;*/
	/*align-items: center;*/
	/*background-color: white;*/
}



.tabladetalle1{
	background-color: white;
	width: 95%;
	height: 360px;
	margin-left: 35px;
	float: left;
}

.tabladetalle1-colum1{
	/*background-color: green;*/
	width: 18%;
	margin-left: 10px;
	float: left;
}

.tabladetalle1-colum2{
	/*background-color: green;*/
	width: 18%;
	float: left;
}
.tabladetalle1-colum3{
	/*background-color: green;*/
	width: 18%;
	float: left;
}
.tabladetalle1-colum4{
	/*background-color: green;*/
	width: 18%;
	float: left;
}
.tabladetalle1-colum5{
	/*background-color: green;*/
	width: 16%;
	float: left;
}
.btn_ok{
	/*background-color: red;*/
	padding-left: 90px;
	color: black;
	width: 11%;
	
	float: left;
}


form input{
	/*background-color:  #ede6e6;
	border-color: #ccbcbc;*/
	background-color:  white;
	border-color: #ccbcbc;
	border-radius: 5px;
	font-size: 20px;
	width: 200px;
	height: 25px;
	border-style: solid;

}
form p{
	
	font-size: 20px;
	margin-bottom: 10px;
}
.estado{
	width: 100px;
}